body{
  text-align:center;
  background-color: lightblue
  }
  img{
    height:140px;
      width:140px; 
  }
  h1{
  color: #32a852;
  }
  .mode {
    float:right;
  }
  .change {
    cursor: pointer;
    border: 5px solid #555;
    border-radius: 40%;
    width: 32px;
    height: 32px;
  }
  .dark{
    background-color: #121212;
    color: #e6e6e6;
  }
  .formDark {
    display: flex;
    justify-content: center;
    background-color: #1F1B24;
    width: 100%;
    padding: 20px;
  }
  .form {
    display: flex;
    justify-content: center;
    background-color: #aaaaaaa5;
    width: 100%;
    padding: 20px;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: lightgreen;
    color: white;
  }
  .navbar {
    display: flex;
    background-color: #aaaaaaa5;
  }

.headerDark {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.navbarDark {
  display: flex;
  background-color: #333;
}
.navbarDark a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbarDark a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.media{
  display: flex;
  gap: 100px;
  justify-content: center;
  background-color: #aaaaaaa5;
  width: 100%;
  padding: 20px;
}
.mediaDark{
  display: flex;
  gap: 100px;
  justify-content: center;
  background-color: #1F1B24;
  width: 100%;
  padding: 20px;
}
.media img:hover {
  background-color: #ddd;
  color: black;
}
.mediaDark img:hover {
  background-color: #121212;
  color: black;
}



.scrollc {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  gap: 50px;
  background-color: #aaaaaaa5;
  width: 100%;
  padding: 20px;
}
.scrollcDark {
  overflow-x: auto;
  display: flex;
  gap: 50px;
  background-color: #1F1B24;
  width: 100%;
  padding: 20px;
}

.scrollc img{
  width: 500px;
  height: 400px;
}
.scrollcDark img{
  width: 500px;
  height: 400px;
}
.scrollcDark::-webkit-scrollbar {
  display:none
}


.footer {
  padding: 20px;
  text-align: center;
  background: #aaaaaaa5;
}
.footerDark {
  padding: 20px;
  text-align: center;
  background: #1F1B24;
}
@media screen and (max-width: 700px) {
  .media, .navbar, .navbarDark, .mediaDark , .scrollc, .scrollcDark{   
    flex-direction: column;
  }
}



